# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
.env
.env.*
.venv
venv/
entorno_virtual/

# Django
db.sqlite3
/media/
staticfiles/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Node (si llegas a usar para front)
node_modules/
